# 파이썬 프로그래밍

## ch1 연습문제

### 1번

In [32]:
A = {'국어':80,'영어':75,'수학':55}

s=0
for val in A.values():
    s += val
print('평균 점수: ', s/len(A))

평균 점수:  70.0

### 2번

In [33]:
num =13

if num % 2 == 0:
    print('짝수')
else:
    print('홀수')

홀수

### 3번

In [34]:
pin = '881122-1234567'
yymmdd = pin[:6]
num = pin[7:]
print(yymmdd)
print(num)

881122
1234567

### 4번

In [37]:
print('주민등록번호에서 성별을 나타내는 숫자: ',pin[7]) # 남자는 1이고 여자는 2

주민등록번호에서 성별을 나타내는 숫자:  1

### 5번

In [8]:
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

### 6번

답: c 에 오류가 발생한다. a[]의 대괄호 안에 있는 자리는 사전(dictionary)의 키 값을 나타내는 자리이다. 사전 키는 변경 불가능한 값이어야 한다. 따라서 키 값으로 list는 사용이 불가능하므로 c에 오류가 발생하게 된다. 나머지 문자열, 튜플, 숫자는 변경 불가능한 값이기에 오류가 발생하지 않는다.

In [43]:
a = dict()
a[250] = 'python'
a['name'] = 'python'
a[('a',)] = 'python'

In [44]:
a

{250: 'python', 'name': 'python', ('a',): 'python'}

In [45]:
a[[1]] = 'python' # key값이 list이므로 오류 발생

TypeError: unhashable type: 'list'

### 7번

In [46]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

### 8번

답: b의 값은 [1,4,3]으로 a의 2번째 요솟값과 같이 변경된다. a와 b는 동일한 [1,2,3] 리스트 객체를 가지기 때문이다.

In [42]:
a = b= [1,2,3]
a[1] = 4
print(b)

[1, 4, 3]

## ch2 연습문제

### 1번

답: shirt. 'shirt'가 a 구문안에 없다는 조건문이 참이되어 'shirt'가 출력된다.

In [62]:
a = 'Life is too short, you need python'
if 'wife' in a:
    print('wife')
elif 'python' in a and 'you' not in a:
    print('python')
elif 'shirt' not in a:
    print('shirt')
elif 'need' in a:
    print('need')
else:
    print('none')

shirt

### 2번

In [63]:
result = 0
i =1
while i <=1000:
    if i % 3 ==0:
        result += i
    i += 1
print(result)

166833

### 3번

In [64]:
numbers = [1,2,3,4,5]

result = []
for n in numbers:
    if n % 2 ==1:
        result.append(n*2)
print(result)

[2, 6, 10]

In [65]:
numbers = [1,2,3,4,5]
result = [x*2 for x in numbers if x % 2==1]
print(result)

[2, 6, 10]

### 4번

In [66]:
def is_odd(number):
    if number % 2 !=0:
        return True
    else:
        return False

In [67]:
is_odd(3)

True

### 5번

In [68]:
def avg_numbers(*args):
    result = 0
    for i in args:
        result += i
    return result/len(args)

avg_numbers(1,2)

1.5

In [69]:
avg_numbers(1,2,3,4,5)

3.0